<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AgIle Recipe Builder</title>
</head>

<body>
    <div class="centered-container">
        <div class="centered-content">
            <h2>Welcome to AgIle Recipe Builder!</h2>
            <form action="/" method="POST">
                <label for="name" class="large_label">Enter your ingredients:</label>
                <input type="text" id="name" class="text-box" name="name" value="{{ name if name else '' }}">
                <button type="submit">Find Recipes</button>
            </form>

            {% if greeting %}
                <p>{{ greeting }}</p>
            {% endif %}
        </div>
    </div>
</body>


</html>
