/* styles.css */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.centered-content {
    width: 500px;
    padding: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
}


.text-box {
    width: 400px;  /* Full width */
    padding: 60px;  /* Add some padding */
    box-sizing: border-box;  /* Ensure padding doesn't affect width */
    line-height: 30px; /* Match this with the height */
    padding: 5px;  /* Optional: add some padding */
    font-size: 14px;  /* Optional: set font size */
    resize: none;  
    overflow: auto;  /* Add scroll if necessary */
}


.large_label {
    font-size: 20px; /* Set the font size to 20px */
    font-weight: bold; /* Optional: Make it bold */
}

#response {
    min-height: 50px; /* Reserve space to avoid page jump */
}