/* styles.css */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.centered-content {
    width: 500px;
    padding: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
}

.text-box {
    width: 400px;  /* Set width */
    height: 80px;  /* Set height */
    line-height: 30px; /* Match this with the height */
    padding: 5px;  /* Optional: add some padding */
    font-size: 16px;  /* Optional: set font size */
}

.large_label {
    font-size: 20px; /* Set the font size to 20px */
    font-weight: bold; /* Optional: Make it bold */
}